<section class='stack' id='stack'>
  <h3>{{copy.stack-title}}</h3>
  <p class='prose'>{{{copy.stack}}}</p>
  <img src='assets/images/stack.png' class='img-desktop'>
  <p class='prose'>{{{copy.stack-post}}}</p>

  <h4>HTML</h4>
  <p class='prose'>{{{copy.stack-html}}}</p>
  <pre data-src='assets/prism/stack.html'></pre>

  <h4>JavaScript</h4>
  <p class='prose'>{{{copy.stack-js}}}</p>
  <pre data-src='assets/prism/stack.js'></pre>

  <h4>CSS</h4>
  {{#each copy.stack-css}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}
  <pre data-src='assets/prism/stack.css'></pre>

  <h4>The Results</h4>
  <p class='prose'>{{{copy.stack-results}}}</p>
  <div class='stack-chart'>
</section>
