<section class='work' id='waffle'>
  <h3>{{copy.work-title}}</h3>

  {{#each copy.work}}
    <p class='prose'>{{{value}}}</p>
  {{/each}}

  <img class='img-desktop' src='assets/images/waffle.png'>

  <h4>HTML</h4>
  <p class='prose'>{{{copy.waffle-html}}}</p>
  <pre data-src='assets/prism/waffle.html'></pre>

  <h4>JavaScript</h4>
  <p class='prose'>{{{copy.waffle-js}}}</p>
  <pre data-src='assets/prism/waffle.js'></pre>

  <h4>CSS</h4>
  <p class='prose'>{{{copy.waffle-css}}}</p>
  <pre data-src='assets/prism/waffle.css'></pre>
  <p class='prose'>{{{copy.waffle-css-post}}}</p>

  <h4>The Results</h4>
  <p class='prose'>{{{copy.waffle-results}}}</p>
  {{> story/waffle }}
</section>
